.main {
  text-align: center;
}

.my-logo {
  padding: 0.5rem;
}

.main-content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.top-title {
  font-size: 3rem;
  font-weight: 200;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.description{
  background-color: #15161a;
  text-align: left;
  color: white;
  line-height: 1.5em;
  padding: 0.5rem;
}

.nav-link {
  color: black;
}
