.main {
  text-align: center;
}
p {
  font-size: 1rem;
}

.active {
  font-weight: 600;
}

.my-logo {
  padding: 0.5rem;
}

.full-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.top-title {
  font-size: 3rem;
  font-weight: 200;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.description{
  background-color: #15161a;
  text-align: left;
  color: white;
  line-height: 1.5em;
  padding: 0.5rem;
}

.nav-link {
  color: black;
}

.top-wrapper {
  position: absolute;
  left: 0vw;
  right: 0vw;
  top: 40vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}

.wobble-chair, .carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(80%);
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  filter: invert(100%);
}

.arrow-up {
  position: relative;
  top: 10px;
}

.arrow-down {
  position: relative;
  bottom: 10px;
}